* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(111, 152, 213, 0.8), rgba(17, 38, 131, 0.8)), url(../img/header_background.jpg);
    background-position: left;
    background-size: cover;
    position: relative;
}

.logo-container {
    margin-left: 40px;
}

.logo {
    height: 4rem;
    width: 4rem;
}

.navbar-nav {
    font-size: 28px;
    margin: 0 0.5rem;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
    font-weight: 600;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar-toggler {
    margin-right: 2rem;
}

li.nav-item {
    padding: 5px;
}

h3 {
    justify-content: center;
}

.display-3 {
    margin-bottom: 0;
    background-image: linear-gradient(to right, rgba(111, 152, 213, 0.8), rgba(17, 38, 131, 0.8)), url(../img/header_background.jpg);
    position: relative;
    width: 100%;
    height: auto;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(141, 43, 116, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    text-align: center;
}

.lead {
    font-size: 3rem;
}

.section-list {
    display: flex;
    height: auto;
    background-image: linear-gradient(to right, rgba(111, 152, 213, 0.8), rgba(17, 38, 131, 0.8)), url(../img/header_background.jpg);
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 15rem;
    height: 25rem;
    margin: 2rem 0.1rem;
    padding: 0.5rem;
    box-shadow: 0 8px 32px 0 rgba(141, 43, 116, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-title {
    text-align: center;
}

.container-fluid {
    width: 50%;
    margin: 30px 0;
    background-color: rgba(56, 47, 47, 0.8);
}

.container-box1 {
    background-color: aquamarine;
}

.card-image {
    height: 4rem;
}

button {
    margin: 10px;
}

.aligned-cent {
    padding-right: 3%;
    justify-content: center;
    text-align: center;
}

#badge-progress {
    color: black;
    background-color: greenyellow;
    padding-left: 10px;
    padding-right: 10px;
}

#badge-done {
    color: black;
    background-color: blue;
}

#badge-todo {
    color: black;
    background-color: red;
}

#badge-pending {
    color: black;
    background-color: yellow;
}

#progress {
    display: flex;
}

.section-task {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right, rgba(111, 152, 213, 0.8), rgba(17, 38, 131, 0.8)), url(../img/header_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1,
#submit-button {
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

#taskHeader {
    position: relative;
    margin: 30px auto;
    width: 100%;
    padding: .375rem .75rem;
    height: auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

label {
    display: flex;
    justify-content: center;
    height: auto;
    padding: .375rem .75rem;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(146, 119, 119, 0.2);
    border-radius: 5px;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

#status {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: auto;
    padding: .375rem .75rem;
    background-color: #fff;
    border-radius: .25rem;
}

.footer {
    background-image: linear-gradient(to right, rgba(111, 152, 213, 0.8), rgba(17, 38, 131, 0.8)), url(../img/header_background.jpg);
    position: relative;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.footer-text {
    font-style: italic;
    font-size: 1rem;
    color: white;
    margin-left: 5%;
}

.display-3:last-of-type {
    padding-top: 1rem;
}

figure {
    position: relative;
}

.icon {
    padding: 10% 0;
    text-align: center;
}

.icon-text {
    font-style: oblique;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin: 5%;
}


/* strong {
    padding-left: 15%;
    font-size: 150%;
} */

@media only screen and (max-width: 1400px) {
    .lead {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 990px) {
    .navbar-nav {
        align-items: center;
    }
    .lead {
        font-size: 1.7rem;
    }
    .card {
        width: auto;
        height: auto;
    }
    .icon-text {
        font-size: 1rem;
    }
    svg.bi {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 700px) {
    figure,
    .section-task {
        height: auto;
    }
    .lead {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 500px) {
    .jumbotron {
        width: 90%;
    }
    .footer-text {
        font-size: 0.7rem;
    }
}